{
  "extends": ["eslint:recommended", "prettier"],
  "env": {
    "es6": true,
    "commonjs": true,
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "no-unused-vars": "warn",
    "no-console": "off",
    "prettier/prettier": "error"
  },
  "plugins": ["prettier", "react"]
}
